<!DOCTYPE html>
<html>
  <head>
    <title>Members</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if signed_in? %>
      <p>Signed in as <%= current_user.email %></p>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>

      <%= link_to "All members", members_path %>
      <%= link_to "Create new member", new_member_path %>
      <%= link_to "Payments", payments_path %>
    <% else %>
      <%= link_to 'Sign up', sign_up_path %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
