<%= form_tag members_path, method: :get do %>
  <%= fields_for :filters do |filter_fields| %>
    <div>
      <%= filter_fields.label :membership_type %>
      <%=
        filter_fields.select(
          :membership_type,
          options_for_select(
            [["All", nil]] + Member.membership_types.map { |name, value| [name.humanize.titleize, name] },
            params.dig(:filters, :membership_type),
          )
        )
      %>
    </div>

    <div>
      <%= filter_fields.label :minimum_age %>
      <%=
        filter_fields.select(
          :minimum_age,
          options_for_select(
            [["None", nil], ["15", 15], ["25", "25"]],
            params.dig(:filters, :membership_type),
          )
        )
      %>
    </div>

    <div>
      <%= filter_fields.submit "Filter" %>
    </div>
  <% end %>
<% end %>

<% if @members.present? %>
  <p>
    <%= @members.size %> matching <%= "member".pluralize(@members.size) %>
  </p>

  <ul class="members-list">
    <% @members.each do |member| %>
      <li>
        <%= link_to member.name, member %>
      </li>
    <% end %>
  </ul>

  <div class="pagination">
    <%=
      link_to_if(
        @members.previous_page?,
        "Previous page",
        members_path(
          page: @members.index_of_previous_page,
          filters: params[:filters].try(:to_unsafe_hash),
        ),
      )
    %>
    <%=
      link_to_if(
        @members.next_page?,
        "Next page",
        members_path(
          page: @members.index_of_next_page,
          filters: params[:filters].try(:to_unsafe_hash),
        ),
      )
    %>
    <p>
      Page <%= @members.current_page_index + 1 %> of <%= @members.total_number_of_pages %>
    </p>
  </div>
<% else %>
  <p>There are no members yet 😭</p>
<% end %>
