<%= form_tag members_path, method: :get do %>
  <%= fields_for :filters do |filter_fields| %>
    <div>
      <%= filter_fields.label :membership_type %>
      <%=
        filter_fields.select(
          :membership_type,
          options_for_select(
            [["All", nil]] + Member.membership_types.map { |name, value| [name.humanize.titleize, name] },
            params.dig(:filters, :membership_type),
          )
        )
      %>
    </div>

    <div>
      <%= filter_fields.label :minimum_age %>
      <%=
        filter_fields.select(
          :minimum_age,
          options_for_select(
            [["None", nil], ["15", 15], ["25", "25"]],
            params.dig(:filters, :membership_type),
          )
        )
      %>
    </div>

    <div>
      <%= filter_fields.submit "Filter" %>
    </div>
  <% end %>
<% end %>

<% if @members.present? %>
  <p>
    <%= @members.size %> matching <%= "member".pluralize(@members.size) %>
  </p>

  <ul>
    <% @members.each do |member| %>
      <li>
        <%= link_to "#{member.name} (#{member.membership_type}, #{member.date_of_birth})", member %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no members yet 😭</p>
<% end %>
