<% if @member.errors.any? %>
  <ul>
    <% @member.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @member do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth %>
  </div>

  <div>
    <%= form.label :admission_date %>
    <%= form.date_select :admission_date %>
  </div>

  <div>
    <%= form.label :membership_type %>
    <%= form.select :membership_type, options_for_select(Member.membership_types.map { |name, value| [name.humanize.titleize, name] }) %>
  </div>

  <div>
    <%= form.submit "Create member" %>
  </div>
<% end %>
