<h1>
  <%= @member.name %>
</h1>

<dl>
  <dt>First name</dt>
  <dd><%= @member.first_name %></dd>

  <dt>Middle name</dt>
  <dd><%= @member.middle_name %></dd>

  <dt>Last name</dt>
  <dd><%= @member.last_name %></dd>

  <dt>Membership type</dt>
  <dd><%= @member.membership_type.titleize %></dd>

  <dt>Date of birth</dt>
  <dd><%= @member.date_of_birth %></dd>
</dl>
